<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462866559865-j8gl9eu1m6n1pdlcgvd904mbaracamkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462866559865-j8gl9eu1m6n1pdlcgvd904mbaracamkk</string>
	<key>API_KEY</key>
	<string>AIzaSyDPK815LgfVOJP3MjbU-AHXOzaW-VFIKIw</string>
	<key>GCM_SENDER_ID</key>
	<string>462866559865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSUMB.GUM-ios</string>
	<key>PROJECT_ID</key>
	<string>gum-android</string>
	<key>STORAGE_BUCKET</key>
	<string>gum-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462866559865:ios:953e4a7b4f0c079c1db5a8</string>
</dict>
</plist>